.f1 {
  color: red; 
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20pt;
  font-weight: bold;
  font-family: Times New Roman;
}
.f2 {
  color: black;
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20px;  
  font-weight: bold;
  font-family: Times New Roman;
}

