h1 {
  color: red;
  margin: 20px;
  text-align: center;
}
li { 
  margin-top: 12px;
}

*{
  font-famiy: Arial;
 }
.container{
     display: flex;
     flex-direction: column;
     height: 100vh;
}
 header{
       flex: 5%;
     }
.content {
  flex: 70%;
}
.footer{
  flex: 10%;
  
