h1 {
  color: red;
  margin: 20px;
  text-align: center;
}
li { 
  margin-top: 12px;
}

*{
  font-famiy: Arial;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-colour: lightgray;
     }
.menu{
  flex: 5%;
  background-colour: gray;
.content {
  flex: 70%;
  background-colour: white;
}
.footer{
  flex: 10%;
  background-colour: lightgray;
}
