h1 {
  color: red;
  margin: 20px;
  text-align: center;
}
li { 
  margin-top: 12px;
}

*{
  font-famiy: Arial;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-colour: lightyellow;
}
.menu{
  flex: 5%;
  background-colour: lightblue;
}
.content {
  flex: 70%;
  background-colour: white;
}
.content iframe{
  flex: 1;
  border: none;
  width: 100%;
  height: 100%;
}
.footer{
  flex: 10%;
  background-colour: lightyellow;
}
